{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a> &rsaquo;
    {# opts.app_label здесь будет 'products' #}
    {# opts.app_config.verbose_name будет 'Продукты' (или что вы указали в apps.py) #}
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a> &rsaquo;
    {# opts.verbose_name_plural будет 'Товары' #}
    <a href="{% url 'admin:products_product_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
    {{ title }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <p>{% blocktranslate with count=product_count %}Вы уверены, что хотите обнулить остатки для <strong>всех {{ count }} товаров</strong>?{% endblocktranslate %}</p>
    <p><strong>{% translate "Это действие необратимо!" %}</strong></p>
    
    <form method="post"> {# action по умолчанию будет текущий URL #}
        {% csrf_token %}
        <div>
            <input type="submit" value="{% translate 'Да, обнулить все остатки' %}">
            <a href="{% url 'admin:products_product_changelist' %}" class="button cancel-link">{% translate 'Отмена' %}</a>
        </div>
    </form>
</div>
{% endblock %}